<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Кино засах</h2>

<form method="POST" enctype="multipart/form-data">
    <label>Гарчиг:</label>
    <input name="title" value="{{ movie.title }}" required>

    <label>Он:</label>
    <input name="released" value="{{ movie.released }}" required>

    <label>Хуучин зураг:</label>
    <input name="old_image" value="{{ movie.image }}" readonly>

    <label>Шинэ зураг сонгох:</label>
    <input type="file" name="image">

    <button type="submit">Хадгалах</button>
</form>

</body>
</html>