
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h2>Кино нэмэх</h2>
<form method="POST" enctype="multipart/form-data">
    <label>Киноны нэр:</label>
    <input type="text" name="title" required><br>

    <label>Нээлт хийсэн он:</label>
    <input type="number" name="released" required><br>

    <label>Киноны зураг:</label>
    <input type="file" name="image"><br>

    <button type="submit">Нэмэх</button>
</form>



</body>
</html>