    <!DOCTYPE html>
<html lang="mn">
<head>
    <meta charset="UTF-8">
    <title>Кино засах</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body class="p-4">

<h2>Кино засах</h2>

<form method="post">

    <div class="mb-3">
        <label class="form-label">Гарчиг</label>
        <input type="text" class="form-control" name="title" value="{{ movie.title }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Он</label>
        <input type="number" class="form-control" name="year" value="{{ movie.year }}">
    </div>

    <div class="mb-3">
        <label class="form-label">Зураг (файл нэр)</label>
        <input type="text" class="form-control" name="image" value="{{ movie.image }}">
    </div>

    <button class="btn btn-primary">Хадгалах</button>
    <a href="{{ url_for('movie_detail', title=movie.title) }}" class="btn btn-secondary">Буцах</a>
</form>

</body>
</html>
