<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  {% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>{{ title }}</h2>
    <p>{{ people|length }} хүн олдлоо</p>

    <div class="row">
        {% for person in people %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ url_for('static', filename='people/' + (person.image or 'default.jpg')) }}" class="card-img-top" alt="{{ person.name }}">
                <div class="card-body">
                    <form method="get">
    <input type="text" name="name" placeholder="Хүнээр хайх" value="{{ request.args.get('name','') }}">
    <input type="number" name="born_from" placeholder="Төрсөн он (эсвэл эх)" value="{{ request.args.get('born_from','') }}">
    <input type="number" name="born_to" placeholder="Төрсөн он (эсвэл төгс)" value="{{ request.args.get('born_to','') }}">
    <button type="submit" class="btn btn-primary">Хайх</button>
</form>

                    <h5 class="card-title">{{ person.name }}</h5>
                    {% if person.birthYear %}<p>Төрсөн он: {{ person.birthYear }}</p>{% endif %}
                    <h6>Кинонууд:</h6>
                    <ul>
                        {% for movie in person.movies %}
                        <li>
                            <a href="{{ url_for('movie_detail', title=movie.title) }}">
                                {{ movie.title }} ({{ movie.year }})
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

</body>
</html>
